<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>바로크 동방 시간표</title>
    <link rel="stylesheet" href="{{ url_for('static', filename='css/main.css') }}">
    <!-- 서버 연결 스크립트 파일 -->
    <script type="text/javascript" src="{{ url_for('static', filename='js/reserve.js') }}"></script>
    
    <!-- 웹 폰트 로드 -->
    <link rel="preconnect" href="https://fonts.googleapis.com">
    <link rel="preconnect" href="https://fonts.gstatic.com" crossorigin>
    <link href="https://fonts.googleapis.com/css2?family=Gothic+A1&display=swap" rel="stylesheet">

    <!--jquery 데이트피커-->
    <link rel="stylesheet" href="https://code.jquery.com/ui/1.13.3/themes/base/jquery-ui.css">
    <script src="https://code.jquery.com/jquery-3.7.1.js"></script>
    <script src="https://code.jquery.com/ui/1.13.3/jquery-ui.js"></script>
    <link rel="stylesheet" href="{{ url_for('static', filename='css/datepicker.css') }}">
</head>
<body>
    <script>
        // 현재 URL 가져오기
        var currentURL = window.location.href;
    
        // history.replaceState를 사용하여 URL 수정 (브라우저 히스토리에 새로운 상태 추가하지 않음)
        history.replaceState({}, document.title, currentURL);

        // datepicker 한국어로 변경
        $.datepicker.setDefaults({
            dateFormat: 'yy-mm-dd',
            prevText: '이전 달',
            nextText: '다음 달',
            monthNames: ['1월', '2월', '3월', '4월', '5월', '6월', '7월', '8월', '9월', '10월', '11월', '12월'],
            monthNamesShort: ['1월', '2월', '3월', '4월', '5월', '6월', '7월', '8월', '9월', '10월', '11월', '12월'],
            dayNames: ['일', '월', '화', '수', '목', '금', '토'],
            dayNamesShort: ['일', '월', '화', '수', '목', '금', '토'],
            dayNamesMin: ['일', '월', '화', '수', '목', '금', '토'],
            showMonthAfterYear: true,
            yearSuffix: '년'
        });
    </script>
    <div id="main-timetable">
        <h2 onclick="window.location.pathname = '/schedule'">바로크 동방 예약 시스템</h2>
        <div class="day-term">
            <button class="btn-move" id="lastweek" onclick="moveWeek(-1, 'schedule')">&lt;</button>
            <label id="day-term-label"></label>
            <button class="btn-move" id="nextweek" onclick="moveWeek(8, 'schedule')">&gt;</button>
        </div>
        <table id="timetable">
            <tr>
                <th>시간</th>
                <th>월</th>
                <th>화</th>
                <th>수</th>
                <th>목</th>
                <th>금</th>
                <th>토</th>
                <th>일</th>
            </tr>

            <!-- 시간표 행 추가 -->
            <!-- 24시간 표기를 위해 0부터 23까지 반복 -->
            <script>
                for (var hour = 7; hour < 26; hour++) {
                    document.write('<tr id="row' + hour + '">');
                    document.write('<td id="row-head">' + formatTime(hour) + ':00'+ '</td>');
                    for (var day = 0; day < 7; day++) {
                        document.write('<td id="cell' + hour + '-' + day + '"></td>');
                    }
                    document.write('</tr>');
                }
            </script>
        </table>
        <br />
        <button onclick="window.location.pathname = '/mentoring'">멘토링 시간 추가</button>
        <br />
    </div>
    <!-- 스케줄 정보 표시 모달 -->
    <div id="schedule-modal" class="modal">
        <label>노래명: </label>
        <label id="modal-content-song"></label>
        <br />
        <label>대표자: </label>
        <label id="modal-content-user"></label>
        <br />
        <label>날짜: </label>
        <label id="modal-content-date"></label>
        <br />
        <label>시간: </label>
        <label id="modal-content-time"></label>
        <br />
        <button onclick="reserveCancel()">예약취소</button>
        <button onclick="closeDetailModal()">닫기</button>
    </div>

    <!-- 모달 띄울때 배경 검게 해주는 오버레이 -->
    <div id="overlay" class="overlay" onclick="closeDetailModal()"></div>
    
    <!-- 모달 불러오기 -->
    <div class="modal reserve-form-modal" id="reserve-form-modal"></div>

    <script>
        // 모달을 불러오는 스크립트
        fetch('/static/reserve_form_modal.html')
            .then(response => response.text())
            .then(data => {
                document.getElementById('reserve-form-modal').innerHTML = data;
                $(function(){
                    $('#datepicker').datepicker({
                        dateFormat: 'yy-mm-dd'
                    });
                    $('#datepicker').datepicker('setDate', 'today');
                })
                document.getElementById('btnReserve').onclick = createSchedule
                document.getElementById('btnCancel').onclick = closeReserveModal
                
                var createTimeOption = function(select) {
                        for (var i = 7; i <= 25; i++) {
                            for (var j = 0; j < 2 ; j++) {
                                var option = document.createElement('option')
                                var strTime = formatTime(i) + ":" + (j === 0 ? "00" : "30");

                                option.text = strTime;
                                option.value = strTime;
                                select.appendChild(option);
                            }
                        }
                    }

                var timePickerDiv = document.getElementById('time-selecter');
                var startTimeSelect = document.createElement('select');
                createTimeOption(startTimeSelect)
                startTimeSelect.className = 'selectTime'
                startTimeSelect.id = 'startTime'
                timePickerDiv.appendChild(startTimeSelect)

                var endTimeSelect = document.createElement('select');
                createTimeOption(endTimeSelect)
                endTimeSelect.className = 'selectTime'
                endTimeSelect.id = 'endTime'
                endTimeSelect.value = '08:00'
                timePickerDiv.appendChild(endTimeSelect)
            });
    </script>
    <!-- 예약 폼 모달 띄우는 버튼-->
    <button class="fixed-button" id="btnOpenForm" onclick="openReserveModal()">예약</button>
    
    <!-- 스케줄 로딩하는 스크립트 -->
    <script>
        var schedule = "{{ schedule }}"
        var start_day = "{{ start_day }}"
        var end_day = "{{ end_day }}"

        setDayTerm(start_day,end_day)
        const decodedJsonString = schedule.replace(/&#34;/g, '"').replace(/&#39;/g, ""); // &#39;을 '로 변환
        //console.log(decodedJsonString)

        try {
            const data = JSON.parse(decodedJsonString);

            for (const row of data) {
                if (row.color == undefined) {
                    row.color = "#F7FE2E"
                }
                addDivToCell(row.songName, row.userName, row.date, row.startTime, row.endTime, row.color)
            }
        } catch (error) {
            console.error("JSON 파싱 에러:", error);
        }
    </script>

    <footer>
        <h5>불편사항 및 오류 신고는 바로크 박예진한테 카톡</h5>
        <p>&copy; 2023 YJ.Park. All rights reserved.</p>
    </footer>
</body>
</html>
