<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>바로크 동방 시간표</title>
    <link rel="stylesheet" href="{{ url_for('static', filename='css/main.css') }}">
    <!-- 서버 연결 스크립트 파일 -->
    <script type="text/javascript" src="{{ url_for('static', filename='js/reserve.js') }}"></script>
</head>
<body>
    <script>
        // 현재 URL 가져오기
        var currentURL = window.location.href;
    
        // URL에서 쿼리 매개변수 제거
        var newURL = currentURL.split('?')[0];
    
        // history.replaceState를 사용하여 URL 수정 (브라우저 히스토리에 새로운 상태 추가하지 않음)
        history.replaceState({}, document.title, newURL);
    </script>
    <h2 onclick="window.location.pathname = '/schedule'">바로크 동방 예약 시스템</h2>
    <div class="reserve-form">
        <fieldset>
            <legend>멘토링 정보 입력</legend>
            <label for="song">수업명: </label>
            <input type="text" id="songName" placeholder="(예: 베이스수업)">
            <br />
            <label for="song">멘토: </label>
            <input type="text" id="userName" placeholder="이름을 입력하시오.">
            <br />
            <label for="startDay">기간: </label>
            <input type="date" id="startDay"> ~ <input type="date" id="endDay">
            <br />
            <label>요일: </label>
            <select id="week">
                <option value="1" selected>월</option>
                <option value="2">화</option>
                <option value="3">수</option>
                <option value="4">목</option>
                <option value="5">금</option>
                <option value="6">토</option>
                <option value="0">일</option>
            </select>
            <script>
                var today = new Date();
                
                // 월이 0부터 시작하므로 1을 더해줌
                var month = (today.getMonth() + 1).toString().padStart(2, '0');
                var day = today.getDate().toString().padStart(2, '0');
                
                var formattedToday = today.getFullYear() + '-' + month + '-' + day;
                
                document.getElementById('startDay').value = formattedToday;
                document.getElementById('endDay').value = formattedToday;
            </script>
            <br />
            <label for="startHour">시간: </label>
            <select id="startHour">
                <script>
                    for (var h = 6; h < 23; h++) {
                        document.write(`<option value="${formatTime(h)}">${formatTime(h)}</option>`)
                    }
                    document.getElementById("startHour").value = "09";
                </script>
            </select>
            <label for="startHour">시</label>
            <select id="startMin">
                <option value="0">00</option>
                <option value="30">30</option>
            </select>
            <label for="startMin">분</label>
            <label>~</label>
            <select id="endHour">
                <script>
                    for (var h = 6; h < 23; h++) {
                        document.write(`<option value="${formatTime(h)}">${formatTime(h)}</option>`)
                    }
                    document.getElementById("endHour").value = "10";
                </script>
            </select>
            <label for="endHour">시</label>
            <select id="endMin">
                <option value="0">00</option>
                <option value="30">30</option>
            </select>
            <label for="endMin">분</label>
            <br />
            <button onclick="createMentoring()">시간표 등록</button>
        </fieldset>
    </div>
    <div class="day-term">
        <button onclick="moveWeek(-1, 'mentoring')">←</button>
        <label id="day-term-label"></label>
        <button onclick="moveWeek(8, 'mentoring')">→</button>
    </div>
    <table id="timetable">
        <tr>
            <th>시간</th>
            <th>월</th>
            <th>화</th>
            <th>수</th>
            <th>목</th>
            <th>금</th>
            <th>토</th>
            <th>일</th>
        </tr>

        <!-- 시간표 행 추가 -->
        <!-- 24시간 표기를 위해 0부터 23까지 반복 -->
        <script>
            for (var hour = 6; hour < 23; hour++) {
                document.write('<tr id="row' + hour + '">');
                document.write('<td>' + formatTime(hour) + ':00' + ' - ' + formatTime(hour + 1) + ':00' + '</td>');
                for (var day = 0; day < 7; day++) {
                    document.write('<td id="cell' + hour + '-' + day + '"></td>');
                }
                document.write('</tr>');
            }
        </script>
    </table>

    <!-- 모달 -->
    <div id="myModal" class="modal">
        <label>노래명: </label>
        <label id="modal-content-song"></label>
        <br />
        <label>대표자: </label>
        <label id="modal-content-user"></label>
        <br />
        <label>날짜: </label>
        <label id="modal-content-date"></label>
        <br />
        <label>시간: </label>
        <label id="modal-content-time"></label>
        <br />
        <button onclick="reserveCancel()">예약취소</button>
        <button onclick="closeModal()">닫기</button>
    </div>

    <!-- 모달 띄울때 배경 검게 해주는 오버레이 -->
    <div id="overlay" class="overlay" onclick="closeModal()"></div>
    <!-- 스케줄 로딩하는 스크립트 -->
    <script>
        var schedule = "{{ schedule }}"
        var start_day = "{{ start_day }}"
        var end_day = "{{ end_day }}"
        //console.log("시작날짜: ", start_day)
        //console.log("종료날짜: ", end_day)
        setDayTerm(start_day,end_day)
        const decodedJsonString = schedule.replace(/&#34;/g, '"').replace(/&#39;/g, ""); // &#39;을 '로 변환
        //console.log(decodedJsonString)
        const data = JSON.parse(decodedJsonString)
        //console.log(data)
        for (const row of data) {
            console.log(row.color)
            if (row.color == undefined) {
                row.color = "#F7FE2E"
            }
            addDivToCell(row.songName, row.userName, row.date, row.startTime, row.endTime, row.color)
        }
    </script>

    <footer>
        <h5>불편사항 및 오류 신고는 바로크 박예진한테 카톡 ㄱㄱ</h5>
        <p>&copy; 2023 YJ.Park. All rights reserved.</p>
    </footer>
</body>
</html>
