
<div class="reserve-form">
    <div class="input">
        <label for="song">노래명: </label>
        <input type="text" id="songName" placeholder="노래명을 입력하시오.">
    </div>
    <div>
        <label for="song">대표자: </label>
        <input type="text" id="userName" placeholder="이름을 입력하시오.">
    </div>
    <div>
        <label for="datepicker">날짜: </label>
        <input type="text" id="datepicker">
        <!-- <script>
            var today = new Date();
            
            // 월이 0부터 시작하므로 1을 더해줌
            var month = (today.getMonth() + 1).toString().padStart(2, '0');
            var day = today.getDate().toString().padStart(2, '0');
            
            var formattedToday = today.getFullYear() + '-' + month + '-' + day;
            
            document.getElementById('date').value = formattedToday;
        </script> -->
    </div>
    <div>
        <label for="startHour">시간: </label>
        <select id="startHour">
            <script>
                console.log("test")
                for (var h = 6; h <= 25; h++) {
                    document.write(`<option value="${formatTime(h)}">${formatTime(h)}</option>`)
                }
                document.getElementById("startHour").value = "09";
            </script>
        </select>
        <label for="startHour">시</label>
        <select id="startMin">
            <option value="0">00</option>
            <option value="30">30</option>
        </select>
        <label for="startMin">분</label>
        <label>~</label>
        <select id="endHour">
            <script>
                for (var h = 6; h <= 26; h++) {
                    document.write(`<option value="${formatTime(h)}">${formatTime(h)}</option>`)
                }
                document.getElementById("endHour").value = "10";
            </script>
        </select>
        <label for="endHour">시</label>
        <select id="endMin">
            <option value="0">00</option>
            <option value="30">30</option>
        </select>
        <label for="endMin">분</label>
    </div>
    <!-- <div>
        <label for="pw">비밀번호: </label>
        <input type="text" id="pw" placeholder="4자리 숫자">
        <br />
    </div> -->
    <div>
        <button id="btnReserve" onclick="createSchedule()">예약</button>
        <button id="btnCancel" onclick="createSchedule()">취소</button>
    </div>
</div>